<?xml version='1.0' encoding='utf-8'?>
<plugin id="tff-plugin-cmb"
        version="0.1.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>TffCMB</name>

    <js-module name="TffCMB" src="www/tffcmb.js">
        <clobbers target="TffCMB" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/widget">
            <feature name="TffCMB">
                <param name="ios-package" value="TffCMBPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="/*">
            <array>
                <dict>
                    <key>CMBPublicKey</key>
                    <string>ZXDp2xXtqKStAXkYPTg/8vTw0YZkEzOOxW5uUQ95M0P9oMybxbTxZiDh/qlelCTYy8S+y/8XEdr/4fxuBtj+FxAg5ND970foOAJouADNUexrg3x72J/T9+S3t0+o2J2nBnbELxwKWeAWgGRPJAgL5TK+iZAv4r9+M85Yd2Spc4XWjAYolSAHqE5uecwSliVwSzu5GOVyUFhCv7l/v3O8U4tmMg0+LHUdt/95Qyf9HnlB/42G7ySBdTcj87Ry0XvFIUJmVIjFvj/OZrQXkQX+D/89ZlFJuV42jevz0MVXhKE7tXc0TrnEi+nSXqBvk4Ryuj1ZiIOry6UEL68i4Kgnag==</string>
                </dict>
            </array>
        </config-file>

        <framework src="src/ios/lib/cmbkeyboard.framework" custom="true" />

        <header-file src="src/ios/TffCMBPlugin.h" />
	    <source-file src="src/ios/TffCMBPlugin.m" />
	    <header-file src="src/ios/TffCMBViewController.h" />
	    <source-file src="src/ios/TffCMBViewController.m" />

        <!--<resource-file src="src/ios/Images.xcassets" />-->

    </platform>

</plugin>