<?xml version='1.0' encoding='utf-8'?>
<plugin id="tff-plugin-cmb"
        version="0.1.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>TffCMB</name>

    <js-module name="TffCMB" src="www/tffcmb.js">
        <clobbers target="TffCMB" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/widget">
            <feature name="TffCMB">
                <param name="ios-package" value="TffCMBPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CMBPublishkey</key>
                    <string></string>
                </dict>
            </array>
        </config-file>

        <framework src="src/ios/lib/cmbkeyboard.framework" custom="true" />
    </platform>

</plugin>